@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p> Or start writing your To-Do's <a href="https://msdocs-core-sql-ida.azurewebsites.net/"> </a> </p>
</div>
